Repository ai-debugger-inc/aidb: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-docs-requirements, sync-release-notes-index, docformatter, typescript-check, eslint-hooks, prettier-hooks, typescript-tests, validate-pytest-collection, validate-mcp, validate-skill-references, validate-skill-rules-schema, bandit, vulture, deptry

gen-docs-requirements:
  name: Generate docs/requirements.txt from pyproject.toml
  entry: python scripts/pre-commit/gen_docs_requirements.py
  language: python
  additional_dependencies:
  - tomli
  pass_filenames: false

sync-release-notes-index:
  name: Sync release notes index
  entry: python scripts/pre-commit/sync_release_notes_index.py
  language: python
  pass_filenames: false

docformatter:
  name: Format docstrings
  description: Format docstrings to 80 characters
  entry: docformatter
  language: python
  additional_dependencies:
  - docformatter
  args:
  - --wrap-summaries
  - '88'
  - --wrap-descriptions
  - '88'
  - --in-place

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd .claude/hooks && npm run check'
  language: system
  pass_filenames: false
  description: Type check TypeScript hook files

eslint-hooks:
  name: ESLint TypeScript hooks
  entry: bash -c 'cd .claude/hooks && npm run lint:fix'
  language: system
  pass_filenames: false
  description: Lint and auto-fix TypeScript hook files

prettier-hooks:
  name: Prettier format TypeScript hooks
  entry: bash -c 'cd .claude/hooks && npm run format'
  language: system
  pass_filenames: false
  description: Format TypeScript hook files with Prettier

typescript-tests:
  name: Run TypeScript unit tests
  entry: bash -c 'cd .claude/hooks && npm test'
  language: system
  pass_filenames: false
  description: Run TypeScript unit tests (fast ~130ms)

validate-pytest-collection:
  name: Validate tests can be collected
  entry: bash -lc 'scripts/pre-commit/pytest_collect.sh'
  language: system
  pass_filenames: false
  description: Ensure pytest can collect all tests without errors

validate-mcp:
  name: Validate MCP server
  entry: "bash -c '\n  venv/bin/python -c \"from aidb_mcp.server.cli import main\" \\\n    && echo \"MCP imports valid\" \\\n    || exit 1\n'\n"
  language: system
  pass_filenames: false
  description: Ensure MCP server can be imported without errors

validate-skill-references:
  name: Validate skill references and suggest updates
  entry: python scripts/pre-commit/validate_skill_references.py
  language: python
  pass_filenames: false
  description: Validate skill file links and suggest skill updates

validate-skill-rules-schema:
  name: Validate skill-rules.json schema
  entry: python scripts/pre-commit/validate_skill_rules_schema.py
  language: python
  additional_dependencies:
  - jsonschema
  pass_filenames: false
  description: Validate skill-rules.json against JSON schema

bandit:
  name: bandit (medium+ severity)
  entry: "bash -c '\n  venv/bin/bandit -r src/ \\\n    --skip B101,B104,B108,B603 \\\n    --exclude src/tests/,src/aidb/dap/_util/,src/aidb/dap/protocol/ \\\n    -ll -q\n'\n"
  language: system
  pass_filenames: false
  verbose: true

vulture:
  name: Log unused code (vulture)
  entry: scripts/pre-commit/run-vulture.sh
  language: script
  pass_filenames: false

Remove recommended 4 tests; change to # cpu cores available
  .github/actions/run-aidb-tests/action.yaml
  .github/workflows/test-frameworks.yaml
  .github/workflows/test-launch.yaml
  .github/workflows/test-parallel.yaml
  .github/workflows/test-shared.yaml
  .github/workflows/test-suite.yaml
Due: none

Update release notes; fix const usage
  docs/release-notes/0.0.8.md
  src/aidb/adapters/base/adapter.py
  src/aidb/adapters/base/components/process_manager.py
  src/aidb/adapters/base/config.py
  src/aidb/adapters/lang/java/java.py
  src/aidb/adapters/lang/javascript/javascript.py
  src/aidb/adapters/lang/python/python.py
Due: sync-release-notes-index, docformatter, validate-skill-references, bandit, vulture, deptry

Fix cli invocation in ci
  .github/workflows/release-pr.yaml
Due: none

Add minimal ci deps
  pyproject.toml
Due: gen-docs-requirements

Fix broken core tests; add port allocator unit tests
  src/tests/aidb/adapters/base/test_target_env_merge.py
  src/tests/aidb/audit/integration/test_audit_performance.py
  src/tests/aidb/resources/unit/test_port_registry.py
  src/tests/aidb/session/unit/test_event_bridge.py
  src/tests/aidb_common/network/__init__.py
  src/tests/aidb_common/network/unit/__init__.py
  src/tests/aidb_common/network/unit/conftest.py
  src/tests/aidb_common/network/unit/test_allocator.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Optimize CI/CD performance: disable PR coverage, add nightly schedule, reduce PyPI polling
  .github/actions/smoke-test/action.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/test-parallel.yaml
  src/tests/ci_cd/unit/test_smoke_test_action.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Update docs version switcher
  docs/_static/switcher.json
Due: none

Add coverage combine step to support cov in parallel test environments
  .github/actions/run-aidb-tests/action.yaml
  pyproject.toml
Due: gen-docs-requirements

Fix CI coverage upload and test hang issues
  src/aidb_cli/services/test/suites.py
  src/aidb_cli/services/test/test_coordinator_service.py
  src/tests/aidb_cli/services/unit/test_test_coordinator.py
  src/tests/aidb_shared/e2e/test_parallel_sessions.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Bump version 0.0.8 -> 0.0.9
  docs/_static/switcher.json
  pyproject.toml
  src/aidb/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/extensions/aidb-vscode-bridge/package.json
  versions.json
Due: gen-docs-requirements, docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

Add contributor documentation and GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/community/contributing.md
  docs/community/index.md
Due: none

Add Java source auto-detection and remote attach improvements
  .claude/skills/adapter-development/resources/java-adapter-patterns.md
  docs/user-guide/mcp/languages/java.md
  src/aidb/adapters/lang/java/config.py
  src/aidb/adapters/lang/java/hooks/lifecycle_hooks.py
  src/aidb/adapters/lang/java/java.py
  src/aidb/adapters/lang/java/lsp/debug_session_manager.py
  src/aidb/adapters/lang/java/source_detection.py
  src/aidb/session/state.py
  src/aidb_mcp/handlers/session/lifecycle.py
  src/aidb_mcp/handlers/session/session_setup.py
  src/tests/aidb/adapters/lang/java/unit/test_source_detection.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

Add MCP thread limiting for high-thread JVMs
  src/aidb_common/config/runtime.py
  src/aidb_mcp/core/constants.py
  src/aidb_mcp/core/response_limiter.py
  src/aidb_mcp/handlers/inspection/inspect_execution.py
  src/tests/aidb_mcp/core/unit/test_response_limiter.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

onsolidate adapter tool and fix various bugs
  docs/user-guide/mcp/tools/session-management.md
  src/aidb/adapters/base/adapter.py
  src/aidb/adapters/utils/binary_locator.py
  src/aidb/api/introspection/stack.py
  src/aidb/api/introspection/variables.py
  src/aidb/api/orchestration/breakpoints.py
  src/aidb/session/ops/introspection_mixin.py
  src/aidb/session/session_core.py
  src/aidb/session/session_lifecycle.py
  src/aidb_mcp/handlers/adapter_download.py
  src/aidb_mcp/handlers/inspection/breakpoints.py
  src/aidb_mcp/handlers/session/configuration.py
  src/aidb_mcp/handlers/session/initialization.py
  src/aidb_mcp/responses/deduplicator.py
  src/aidb_mcp/responses/errors.py
  src/tests/aidb_mcp/responses/unit/test_deduplicator.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

Add 0.0.9 release notes; remove old ones
  docs/release-notes/0.0.5.md
  docs/release-notes/0.0.6.md
  docs/release-notes/0.0.7.md
  docs/release-notes/0.0.9.md
  docs/release-notes/index.md
Due: sync-release-notes-index

Misc. docs fixes; update pre-commit hook to catch another version site
  .claude/skills/README.md
  .claude/skills/adapter-development/SKILL.md
  .claude/skills/aidb-architecture/SKILL.md
  .claude/skills/testing-strategy/SKILL.md
  docs/community/contributing.md
  docs/community/releases.md
  docs/developer-guide/adapters.md
  docs/developer-guide/ci-cd.md
  docs/developer-guide/cli-reference.md
  docs/developer-guide/getting-started.md
  docs/developer-guide/overview.md
  docs/user-guide/mcp/languages/javascript.md
  docs/user-guide/mcp/languages/python.md
  scripts/pre-commit/sync_versions.py
Due: validate-skill-references, bandit, vulture, deptry

Fix coverage uploads
  .github/actions/run-aidb-tests/action.yaml
Due: none

fix: Remove dual-launch tests after API layer deletion
  .claude/skills/testing-strategy/resources/debug-interface.md
  .claude/skills/testing-strategy/resources/framework-tests.md
  src/tests/_docker/README.md
  src/tests/_helpers/constants/enums.py
  src/tests/_helpers/framework_base.py
  src/tests/_helpers/parametrization.py
  src/tests/aidb_shared/e2e/test_generated_programs.py
  src/tests/aidb_shared/integration/test_advanced_breakpoints.py
  src/tests/frameworks/java/junit/e2e/test_junit_debugging.py
  src/tests/frameworks/java/springboot/e2e/test_springboot_debugging.py
  src/tests/frameworks/javascript/express/e2e/test_express_debugging.py
  src/tests/frameworks/javascript/jest/e2e/test_jest_debugging.py
  src/tests/frameworks/python/django/e2e/test_django_debugging.py
  src/tests/frameworks/python/fastapi/e2e/test_fastapi_debugging.py
  src/tests/frameworks/python/flask/e2e/test_flask_debugging.py
  src/tests/frameworks/python/pytest/e2e/test_pytest_debugging.py
  src/tests/launch/java/e2e/conftest.py
  src/tests/launch/java/e2e/test_application_launch.py
  src/tests/launch/javascript/e2e/conftest.py
  src/tests/launch/javascript/e2e/test_node_launch.py
  src/tests/launch/python/e2e/test_basic_launch.py
  src/tests/launch/python/e2e/test_module_launch.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

fix: Handle thread_id=0 in JavaScript debugging context
  src/aidb_mcp/handlers/context/context_building.py
  src/aidb_mcp/handlers/context/handler.py
  src/aidb_mcp/handlers/session/lifecycle.py
  src/aidb_mcp/handlers/session/session_setup.py
  src/aidb_mcp/handlers/session/state_management.py
Due: docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

fix: Resolve child session routing in DebugService and fix MCP test mocks
  src/aidb/common/dap_utilities.py
  src/aidb/dap/client/events.py
  src/aidb/service/debug_service.py
  src/aidb/session/state.py
  src/tests/aidb_mcp/handlers/unit/test_context_handler.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Fix event loop issue; reduce perf test threshold
  src/aidb/adapters/base/components/process_manager.py
  src/tests/aidb/audit/integration/test_audit_performance.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

fix: Resolve CI test hangs and improve Codecov coverage tracking
  .github/actions/run-aidb-tests/action.yaml
  .github/workflows/test-parallel.yaml
  pyproject.toml
  src/aidb/adapters/base/components/process_manager.py
  src/aidb_cli/services/test/test_coordinator_service.py
  src/tests/_conftest/cleanup.py
  src/tests/aidb_cli/services/unit/test_test_coordinator.py
  src/tests/aidb_shared/e2e/test_performance.py
Due: gen-docs-requirements, docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Configure Dependabot to create PRs against main
  .claude/skills/ci-cd-workflows/SKILL.md
  .claude/skills/ci-cd-workflows/resources/quick-reference.md
  .github/dependabot.yaml
Due: validate-skill-references

Bump to 0.1.0; remove old release references
  docs/_static/switcher.json
  docs/community/releases.md
  docs/release-notes/0.0.8.md
  docs/release-notes/0.0.9.md
  docs/release-notes/0.1.0.md
  docs/release-notes/index.md
  pyproject.toml
  src/aidb/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/extensions/aidb-vscode-bridge/package.json
  versions.json
Due: gen-docs-requirements, sync-release-notes-index, docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

Update docs/skills, fix Dependabot wiring to skip all workflows after PR is created
  .claude/skills/README.md
  .claude/skills/ci-cd-workflows/SKILL.md
  .claude/skills/code-reuse-enforcement/SKILL.md
  .claude/skills/code-reuse-enforcement/resources/discovery-catalog.md
  .claude/skills/mcp-tools-development/SKILL.md
  .claude/skills/mcp-tools-development/resources/handler-composition-patterns.md
  .claude/skills/mcp-tools-development/resources/handler-decorators-reference.md
  .claude/skills/skill-developer/SKILL.md
  .claude/skills/skill-developer/resources/hook-mechanisms.md
  .claude/skills/skill-developer/resources/skill-rules-reference.md
  .claude/skills/skill-developer/resources/two-tier-system.md
  .claude/skills/testing-strategy/SKILL.md
  .github/workflows/release-pr.yaml
  README.md
  docs/_snippets/mcp-client-claude-desktop.md
  docs/_static/aidb-arch.drawio
  docs/_static/aidb-arch.svg
  docs/community/releases.md
  docs/developer-guide/adapters.md
  docs/developer-guide/overview.md
  docs/index.md
  docs/release-notes/0.1.0.md
  docs/user-guide/mcp-usage.md
  docs/user-guide/mcp/languages/java.md
  docs/user-guide/mcp/languages/javascript.md
  docs/user-guide/mcp/languages/python.md
  docs/user-guide/mcp/tools/configuration.md
  docs/user-guide/mcp/tools/inspection.md
Due: sync-release-notes-index, validate-skill-references

Update npm deps
  .claude/hooks/package-lock.json
Due: none

Update release notes for initial release
  docs/release-notes/0.1.0.md
Due: sync-release-notes-index

Fix DebugAPI references (no longer exists following API -> service layer refactor)
  .github/actions/smoke-test/action.yaml
  src/tests/ci_cd/unit/test_smoke_test_action.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Add runtime_path parameter for cross-adapter runtime specification
  docs/user-guide/mcp/languages/java.md
  docs/user-guide/mcp/languages/javascript.md
  docs/user-guide/mcp/languages/python.md
  docs/user-guide/mcp/tools/session-management.md
  pyproject.toml
  src/aidb/adapters/base/adapter.py
  src/aidb/adapters/base/components/launch_orchestrator.py
  src/aidb/adapters/lang/java/java.py
  src/aidb/adapters/lang/javascript/javascript.py
  src/aidb/adapters/lang/python/python.py
  src/aidb/adapters/lang/python/venv_detector.py
  src/aidb_mcp/core/constants.py
  src/aidb_mcp/handlers/session/session_setup.py
  src/aidb_mcp/tools/definitions.py
  src/tests/aidb/adapters/lang/python/__init__.py
  src/tests/aidb/adapters/lang/python/test_venv_detector.py
  src/tests/aidb/adapters/unit/test_launch_orchestrator.py
Due: gen-docs-requirements, docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

MCP Registry integration
  .github/workflows/release-publish.yaml
  .gitignore
  README.md
  docs/_static/switcher.json
  docs/community/releases.md
  docs/release-notes/0.1.1.md
  docs/release-notes/index.md
  pyproject.toml
  scripts/pre-commit/sync_versions.py
  server.json
  src/aidb/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/extensions/aidb-vscode-bridge/package.json
  versions.json
Due: gen-docs-requirements, sync-release-notes-index, docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

Fix mcp-publisher path in CI workflow
  .github/workflows/release-publish.yaml
Due: none

Add manual dispatch to release-publish workflow
  .github/workflows/release-publish.yaml
Due: none

Bump version and add release notes
  docs/_static/switcher.json
  docs/community/releases.md
  docs/release-notes/0.1.2.md
  docs/release-notes/index.md
  pyproject.toml
  server.json
  src/aidb/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/extensions/aidb-vscode-bridge/package.json
  versions.json
Due: gen-docs-requirements, sync-release-notes-index, docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

Fix test-summary job running on skipped Dependabot PRs; clean up workflow comments
  .github/workflows/release-pr.yaml
Due: none

Update codebase to reflect Service Layer architecture
  .claude/hooks/post-tool-use-tracker.sh
  .claude/skills/adapter-development/SKILL.md
  .claude/skills/aidb-architecture/resources/patterns-and-resources.md
  CLAUDE.md
  docs/community/contributing.md
  docs/developer-guide/getting-started.md
  scripts/pre-commit/validate_skill_references.py
  src/tests/_fixtures/unit/conftest.py
  src/tests/_fixtures/unit/service/__init__.py
  src/tests/_fixtures/unit/service/breakpoints.py
  src/tests/_fixtures/unit/service/launch_config.py
  src/tests/_fixtures/unit/service/session.py
  src/tests/ci_cd/unit/test_aggregate_flakes_report.py
  src/tests/ci_cd/unit/test_format_test_summary.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

0.1.2 release notes
  docs/release-notes/0.1.2.md
Due: sync-release-notes-index

Fix CI test failures from Service Layer refactoring
  src/tests/aidb_shared/integration/test_advanced_breakpoints.py
  src/tests/ci_cd/unit/test_format_test_summary.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Path conditions:
  gen-docs-requirements: any of: ^pyproject\.toml$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  sync-release-notes-index: any of: ^docs/release-notes/.*\.md$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  docformatter: any of: \.py$ and not (^docs/conf.py|^scripts/pre-commit/|^venv/) and not ((?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)
)
  typescript-check: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  eslint-hooks: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  prettier-hooks: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  typescript-tests: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-pytest-collection: any of: ^src/tests/.*\.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-mcp: any of: ^src/aidb_mcp/.*\.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-skill-references: any of: ^(\.claude/skills/.*\.md|docs/developer-guide/.*\.md|src/.*)$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-skill-rules-schema: any of: ^\.claude/skills/skill-rules\.json$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  bandit: any of: \.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  vulture: any of: \.py$ and not (^src/aidb/dap/_util/|^src/aidb/dap/protocol/) and not ((?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)
)
  deptry: any of: \.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

