Repository ai-debugger-inc/aidb: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-docs-requirements, sync-release-notes-index, docformatter, typescript-check, eslint-hooks, prettier-hooks, typescript-tests, validate-pytest-collection, validate-mcp, validate-skill-references, validate-skill-rules-schema, bandit, vulture, deptry

gen-docs-requirements:
  name: Generate docs/requirements.txt from pyproject.toml
  entry: python scripts/pre-commit/gen_docs_requirements.py
  language: python
  additional_dependencies:
  - tomli
  pass_filenames: false

sync-release-notes-index:
  name: Sync release notes index
  entry: python scripts/pre-commit/sync_release_notes_index.py
  language: python
  pass_filenames: false

docformatter:
  name: Format docstrings
  description: Format docstrings to 80 characters
  entry: docformatter
  language: python
  additional_dependencies:
  - docformatter
  args:
  - --wrap-summaries
  - '88'
  - --wrap-descriptions
  - '88'
  - --in-place

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd .claude/hooks && npm run check'
  language: system
  pass_filenames: false
  description: Type check TypeScript hook files

eslint-hooks:
  name: ESLint TypeScript hooks
  entry: bash -c 'cd .claude/hooks && npm run lint:fix'
  language: system
  pass_filenames: false
  description: Lint and auto-fix TypeScript hook files

prettier-hooks:
  name: Prettier format TypeScript hooks
  entry: bash -c 'cd .claude/hooks && npm run format'
  language: system
  pass_filenames: false
  description: Format TypeScript hook files with Prettier

typescript-tests:
  name: Run TypeScript unit tests
  entry: bash -c 'cd .claude/hooks && npm test'
  language: system
  pass_filenames: false
  description: Run TypeScript unit tests (fast ~130ms)

validate-pytest-collection:
  name: Validate tests can be collected
  entry: bash -lc 'scripts/pre-commit/pytest_collect.sh'
  language: system
  pass_filenames: false
  description: Ensure pytest can collect all tests without errors

validate-mcp:
  name: Validate MCP server
  entry: "bash -c '\n  venv/bin/python -c \"from aidb_mcp.server.cli import main\" \\\n    && echo \"MCP imports valid\" \\\n    || exit 1\n'\n"
  language: system
  pass_filenames: false
  description: Ensure MCP server can be imported without errors

validate-skill-references:
  name: Validate skill references and suggest updates
  entry: python scripts/pre-commit/validate_skill_references.py
  language: python
  pass_filenames: false
  description: Validate skill file links and suggest skill updates

validate-skill-rules-schema:
  name: Validate skill-rules.json schema
  entry: python scripts/pre-commit/validate_skill_rules_schema.py
  language: python
  additional_dependencies:
  - jsonschema
  pass_filenames: false
  description: Validate skill-rules.json against JSON schema

bandit:
  name: bandit (medium+ severity)
  entry: "bash -c '\n  venv/bin/bandit -r src/ \\\n    --skip B101,B104,B108,B603 \\\n    --exclude src/tests/,src/aidb/dap/_util/,src/aidb/dap/protocol/ \\\n    -ll -q\n'\n"
  language: system
  pass_filenames: false
  verbose: true

vulture:
  name: Log unused code (vulture)
  entry: scripts/pre-commit/run-vulture.sh
  language: script
  pass_filenames: false

release/0.1.2 (#40)
  .claude/hooks/package-lock.json
  .claude/hooks/package.json
  .claude/hooks/post-tool-use-tracker.sh
  .claude/skills/adapter-development/SKILL.md
  .claude/skills/aidb-architecture/resources/patterns-and-resources.md
  .github/workflows/release-pr.yaml
  CLAUDE.md
  docs/_static/switcher.json
  docs/community/contributing.md
  docs/community/releases.md
  docs/developer-guide/getting-started.md
  docs/release-notes/0.1.2.md
  docs/release-notes/index.md
  docs/release-notes/template.md
  docs/requirements.txt
  pyproject.toml
  scripts/pre-commit/validate_skill_references.py
  server.json
  src/aidb/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/extensions/aidb-vscode-bridge/package.json
  src/tests/_fixtures/unit/conftest.py
  src/tests/_fixtures/unit/service/__init__.py
  src/tests/_fixtures/unit/service/breakpoints.py
  src/tests/_fixtures/unit/service/launch_config.py
  src/tests/_fixtures/unit/service/session.py
  src/tests/aidb_shared/integration/test_advanced_breakpoints.py
  src/tests/ci_cd/unit/test_aggregate_flakes_report.py
  src/tests/ci_cd/unit/test_format_test_summary.py
  versions.json
Due: gen-docs-requirements, sync-release-notes-index, docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

Bump Javascript CI stack_trace perf cap
  src/tests/aidb_shared/e2e/test_performance.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Bump version to 0.1.3
  docs/_static/switcher.json
  docs/community/releases.md
  pyproject.toml
  server.json
  src/aidb/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/extensions/aidb-vscode-bridge/package.json
  versions.json
Due: gen-docs-requirements, docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

Add retry w/ exponential backoff for adapter downloads in CI
  .github/scripts/adapters/base.py
  .github/scripts/adapters/builders/java.py
  src/tests/ci_cd/unit/test_download_file.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Port skill system fixes from claude-skills-supercharged PR #54
  .claude/hooks/lib/__tests__/affinity-injection.test.ts
  .claude/hooks/lib/__tests__/output-formatter.test.ts
  .claude/hooks/lib/__tests__/skill-filtering.test.ts
  .claude/hooks/lib/cache-manager.ts
  .claude/hooks/lib/constants.ts
  .claude/hooks/lib/debug-logger.ts
  .claude/hooks/lib/intent-analyzer.ts
  .claude/hooks/lib/keyword-matcher.ts
  .claude/hooks/lib/output-formatter.ts
  .claude/hooks/lib/skill-filtration.ts
  .claude/hooks/lib/skill-state-manager.ts
  .claude/hooks/package.json
  .claude/hooks/skill-activation-prompt.sh
  .claude/hooks/skill-activation-prompt.ts
  .claude/skills/skill-developer/resources/hook-mechanisms.md
  .claude/skills/skill-developer/resources/skill-rules-reference.md
  .claude/skills/skill-developer/resources/two-tier-system.md
Due: typescript-check, eslint-hooks, prettier-hooks, typescript-tests, validate-skill-references

Add release notes
  docs/release-notes/0.1.3.md
  docs/release-notes/index.md
Due: sync-release-notes-index

Use full pip patch version in CI
  .github/actions/setup-aidb-env/action.yaml
Due: none

Path conditions:
  gen-docs-requirements: any of: ^pyproject\.toml$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  sync-release-notes-index: any of: ^docs/release-notes/.*\.md$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  docformatter: any of: \.py$ and not (^docs/conf.py|^scripts/pre-commit/|^venv/) and not ((?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)
)
  typescript-check: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  eslint-hooks: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  prettier-hooks: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  typescript-tests: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-pytest-collection: any of: ^src/tests/.*\.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-mcp: any of: ^src/aidb_mcp/.*\.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-skill-references: any of: ^(\.claude/skills/.*\.md|docs/developer-guide/.*\.md|src/.*)$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-skill-rules-schema: any of: ^\.claude/skills/skill-rules\.json$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  bandit: any of: \.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  vulture: any of: \.py$ and not (^src/aidb/dap/_util/|^src/aidb/dap/protocol/) and not ((?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)
)
  deptry: any of: \.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

