Repository ai-debugger-inc/aidb: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-docs-requirements, sync-release-notes-index, docformatter, typescript-check, eslint-hooks, prettier-hooks, typescript-tests, validate-pytest-collection, validate-mcp, validate-skill-references, validate-skill-rules-schema, bandit, vulture, deptry

gen-docs-requirements:
  name: Generate docs/requirements.txt from pyproject.toml
  entry: python scripts/pre-commit/gen_docs_requirements.py
  language: python
  additional_dependencies:
  - tomli
  pass_filenames: false

sync-release-notes-index:
  name: Sync release notes index
  entry: python scripts/pre-commit/sync_release_notes_index.py
  language: python
  pass_filenames: false

docformatter:
  name: Format docstrings
  description: Format docstrings to 80 characters
  entry: docformatter
  language: python
  additional_dependencies:
  - docformatter
  args:
  - --wrap-summaries
  - '88'
  - --wrap-descriptions
  - '88'
  - --in-place

typescript-check:
  name: TypeScript type checking
  entry: bash -c 'cd .claude/hooks && npm run check'
  language: system
  pass_filenames: false
  description: Type check TypeScript hook files

eslint-hooks:
  name: ESLint TypeScript hooks
  entry: bash -c 'cd .claude/hooks && npm run lint:fix'
  language: system
  pass_filenames: false
  description: Lint and auto-fix TypeScript hook files

prettier-hooks:
  name: Prettier format TypeScript hooks
  entry: bash -c 'cd .claude/hooks && npm run format'
  language: system
  pass_filenames: false
  description: Format TypeScript hook files with Prettier

typescript-tests:
  name: Run TypeScript unit tests
  entry: bash -c 'cd .claude/hooks && npm test'
  language: system
  pass_filenames: false
  description: Run TypeScript unit tests (fast ~130ms)

validate-pytest-collection:
  name: Validate tests can be collected
  entry: bash -lc 'scripts/pre-commit/pytest_collect.sh'
  language: system
  pass_filenames: false
  description: Ensure pytest can collect all tests without errors

validate-mcp:
  name: Validate MCP server
  entry: "bash -c '\n  venv/bin/python -c \"from aidb_mcp.server.cli import main\" \\\n    && echo \"MCP imports valid\" \\\n    || exit 1\n'\n"
  language: system
  pass_filenames: false
  description: Ensure MCP server can be imported without errors

validate-skill-references:
  name: Validate skill references and suggest updates
  entry: python scripts/pre-commit/validate_skill_references.py
  language: python
  pass_filenames: false
  description: Validate skill file links and suggest skill updates

validate-skill-rules-schema:
  name: Validate skill-rules.json schema
  entry: python scripts/pre-commit/validate_skill_rules_schema.py
  language: python
  additional_dependencies:
  - jsonschema
  pass_filenames: false
  description: Validate skill-rules.json against JSON schema

bandit:
  name: bandit (medium+ severity)
  entry: "bash -c '\n  venv/bin/bandit -r src/ \\\n    --skip B101,B104,B108,B603 \\\n    --exclude src/tests/,src/aidb/dap/_util/,src/aidb/dap/protocol/ \\\n    -ll -q\n'\n"
  language: system
  pass_filenames: false
  verbose: true

vulture:
  name: Log unused code (vulture)
  entry: scripts/pre-commit/run-vulture.sh
  language: script
  pass_filenames: false

docs: add mermaid support and reduce build warnings from 2150 to 36
  .act/.gitignore
  .act/secrets
  .claude/skills/ci-cd-workflows/SKILL.md
  .claude/skills/ci-cd-workflows/resources/adapter-builds.md
  .claude/skills/ci-cd-workflows/resources/quick-reference.md
  .github/actrc
  docs/_templates/autoapi/index.rst
  docs/_templates/autoapi/python/module.rst
  docs/_templates/autoapi/python/package.rst
  docs/conf.py
  docs/developer-guide/overview.md
  docs/requirements.txt
  pyproject.toml
  scripts/install/docs/.env
  src/aidb/adapters/base/config.py
  src/aidb_cli/core/output/protocol.py
  src/aidb_cli/core/output/strategy.py
  src/aidb_cli/managers/docker/docker_executor.py
  src/aidb_cli/services/adapter/adapter_build_service.py
  src/aidb_cli/services/docs/docs_server_service.py
  src/tests/ci_cd/integration/test_adapter_build_act.py
Due: gen-docs-requirements, docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

fix(ci): revert actrc to repo root and remove invalid flag
  .actrc
  .claude/skills/ci-cd-workflows/SKILL.md
  .claude/skills/ci-cd-workflows/resources/adapter-builds.md
  .claude/skills/ci-cd-workflows/resources/quick-reference.md
  src/aidb_cli/services/adapter/adapter_build_service.py
Due: docformatter, validate-skill-references, bandit, vulture, deptry

feat(adapters): refactor downloader package and add compact variable format
  docs/_static/switcher.json
  docs/conf.py
  docs/release-notes/0.0.6.md
  docs/release-notes/index.md
  pyproject.toml
  src/aidb/__init__.py
  src/aidb/adapters/downloader/__init__.py
  src/aidb/adapters/downloader/download.py
  src/aidb/adapters/downloader/result.py
  src/aidb/adapters/downloader/version.py
  src/aidb/adapters/lang/javascript/javascript.py
  src/aidb/adapters/management/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb/models/entities/variable.py
  src/aidb/models/responses/variables.py
  src/aidb_cli/__init__.py
  src/aidb_cli/commands/adapters.py
  src/aidb_cli/services/build/download_service.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/aidb_mcp/handlers/adapter_download.py
  src/aidb_mcp/handlers/inspection/inspect_variables.py
  src/aidb_mcp/handlers/session/configuration.py
  src/aidb_mcp/handlers/session/initialization.py
  src/extensions/aidb-vscode-bridge/package.json
  src/tests/aidb/adapters/downloader/__init__.py
  src/tests/aidb/adapters/downloader/unit/__init__.py
  src/tests/aidb/adapters/downloader/unit/conftest.py
  src/tests/aidb/adapters/downloader/unit/test_download.py
  src/tests/aidb/adapters/downloader/unit/test_result.py
  src/tests/aidb/adapters/downloader/unit/test_version.py
  src/tests/aidb/models/__init__.py
  src/tests/aidb/models/unit/__init__.py
  src/tests/aidb/models/unit/test_variable_compact.py
  versions.json
Due: gen-docs-requirements, sync-release-notes-index, docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

chore: release prep with test fixes, docs audit, and cleanup
  .claude/skills/ci-cd-workflows/SKILL.md
  .claude/skills/ci-cd-workflows/resources/quick-reference.md
  .claude/skills/ci-cd-workflows/resources/test-orchestration.md
  .claude/skills/ci-cd-workflows/resources/troubleshooting.md
  .claude/skills/skill-rules.json
  .github/config/test-events/workflow-dispatch.json
  .github/dependabot.yaml
  .github/testing-config.yaml
  README.md
  docs/_extension/component_directive.py
  docs/_snippets/community-links.md
  docs/_snippets/logpoint-example.md
  docs/_snippets/troubleshooting-adapter-not-found.md
  docs/community/releases.md
  docs/developer-guide/adapters.md
  docs/developer-guide/ci-cd.md
  docs/developer-guide/overview.md
  docs/index.md
  docs/support/index.md
  docs/user-guide/mcp/tools/execution-control.md
  docs/user-guide/mcp/tools/inspection.md
  scripts/install/docs/.env
  src/aidb/common/errors.py
  src/aidb_cli/commands/test.py
  src/aidb_cli/core/output/__init__.py
  src/aidb_cli/managers/test/test_orchestrator.py
  src/aidb_cli/services/test/test_coordinator_service.py
  src/aidb_mcp/responses/builders.py
  src/tests/_helpers/state_verification/variables.py
  src/tests/aidb_cli/managers/unit/test_test_orchestrator.py
  src/tests/aidb_shared/e2e/test_complex_workflows.py
  src/tests/ci_cd/__init__.py
  src/tests/ci_cd/conftest.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, validate-skill-rules-schema, bandit, vulture, deptry

Remove unused configuration
  .github/test-events/workflow-dispatch.json
Due: none

feat: misc features and fixes for 0.0.7 release
  .claude/hooks/lint-check.sh
  .claude/hooks/post-tool-use-tracker.sh
  .claude/hooks/skill-activation-prompt.sh
  .claude/hooks/test-intent-analysis.sh
  .claude/hooks/test-runner-suggestion.sh
  .pre-commit-config.yaml
  docs/_static/switcher.json
  docs/release-notes/0.0.7.md
  docs/release-notes/index.md
  pyproject.toml
  scripts/install/src/install.sh
  scripts/pre-commit/run-vulture.sh
  src/aidb/__init__.py
  src/aidb/adapters/base/adapter.py
  src/aidb/adapters/lang/java/java.py
  src/aidb/adapters/lang/javascript/javascript.py
  src/aidb/adapters/lang/python/python.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/aidb_mcp/tools/definitions.py
  src/extensions/aidb-vscode-bridge/package.json
  src/tests/_conftest/markers.py
  src/tests/_docker/scripts/entrypoint.sh
  src/tests/_docker/scripts/install-framework-deps.sh
  src/tests/aidb/adapters/base/conftest.py
  src/tests/aidb/adapters/base/test_target_env_merge.py
  src/tests/aidb_cli/commands/integration/test_docs_workflow.py
  src/tests/aidb_cli/commands/integration/test_test_runner.py
  versions.json
Due: gen-docs-requirements, sync-release-notes-index, docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

feat(mcp): update tool annotations per MCP spec
  src/aidb_mcp/tools/definitions.py
Due: docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

fix: resolve race condition and align types with official spec
  .claude/hooks/lib/__tests__/affinity-injection.test.ts
  .claude/hooks/lib/__tests__/anthropic-client.test.ts
  .claude/hooks/lib/__tests__/schema-validator.test.ts
  .claude/hooks/lib/__tests__/skill-filtering.test.ts
  .claude/hooks/lib/constants.ts
  .claude/hooks/lib/schema-validator.ts
  .claude/hooks/lib/skill-filtration.ts
  .claude/hooks/lib/skill-state-manager.ts
  .claude/hooks/lib/types.ts
  .claude/skills/skill-rules.schema.json
Due: typescript-check, eslint-hooks, prettier-hooks, typescript-tests

Bump version from 0.0.7 -> 0.0.8
  docs/_static/switcher.json
  docs/release-notes/0.0.8.md
  docs/release-notes/index.md
  pyproject.toml
  src/aidb/__init__.py
  src/aidb/dap/client/__init__.py
  src/aidb_cli/__init__.py
  src/aidb_common/__init__.py
  src/aidb_logging/__init__.py
  src/aidb_mcp/__init__.py
  src/aidb_mcp/core/config.py
  src/extensions/aidb-vscode-bridge/package.json
  versions.json
Due: gen-docs-requirements, sync-release-notes-index, docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

Refactor aidb-debug -> ai-debugger in mcp configuration/references for branding consistency
  .claude/mcp.json
  .claude/settings.json
  .claude/skills/troubleshooting/resources/environment-variables.md
  README.md
  docs/_snippets/mcp-client-claude-desktop.md
  docs/_snippets/mcp-client-cline.md
  docs/_snippets/mcp-client-codex.md
  docs/_snippets/mcp-client-cursor.md
  docs/_snippets/mcp-client-windsurf.md
  docs/_snippets/tool-name-prefixing.md
  docs/index.md
  docs/user-guide/mcp/core-concepts.md
  docs/user-guide/mcp/quickstart.md
  src/aidb_cli/core/constants.py
  src/aidb_common/config/runtime.py
  src/tests/aidb_cli/commands/unit/test_mcp.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

refactor(vscode): move shared settings to workspace file
  .gitignore
  .vscode/settings.json
  aidb.code-workspace
  docs/developer-guide/getting-started.md
Due: validate-skill-references

Fix skill rules schema violations
  .claude/skills/skill-rules.json
Due: validate-skill-rules-schema

chore: replace hardcoded language lists with SUPPORTED_LANGUAGES constant
  src/aidb_cli/managers/docker/docker_orchestrator.py
  src/aidb_cli/services/adapter/adapter_build_service.py
  src/aidb_common/config/runtime.py
  src/aidb_common/config/versions.py
  src/tests/_fixtures/adapter_management.py
  src/tests/_fixtures/scenarios.py
  src/tests/aidb_cli/commands/integration/test_adapter_workflow.py
  src/tests/aidb_cli/commands/unit/conftest.py
  src/tests/aidb_cli/commands/unit/test_adapters.py
  src/tests/aidb_cli/core/unit/conftest.py
  src/tests/aidb_cli/generator/e2e/test_program_execution.py
  src/tests/aidb_cli/generator/integration/conftest.py
  src/tests/aidb_cli/generator/integration/test_generation_workflow.py
  src/tests/aidb_cli/managers/unit/conftest.py
  src/tests/aidb_cli/managers/unit/test_test_manager.py
  src/tests/aidb_cli/services/unit/conftest.py
  src/tests/aidb_cli/services/unit/test_discovery_service.py
  src/tests/aidb_cli/services/unit/test_docker_image_checksum_service.py
  src/tests/aidb_mcp/handlers/unit/test_init_handler.py
  src/tests/aidb_mcp/tools/unit/test_validation.py
  src/tests/ci_cd/unit/test_build_adapter.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

feat: add suite-level fast-fail for missing adapters in Docker tests
  src/aidb_cli/managers/build/build_manager.py
  src/aidb_cli/managers/test/test_orchestrator.py
  src/aidb_cli/services/adapter/adapter_discovery_service.py
  src/aidb_cli/services/adapter/adapter_service.py
  src/tests/aidb_cli/managers/unit/test_test_orchestrator.py
  src/tests/aidb_cli/services/unit/test_adapter_discovery_service.py
  src/tests/aidb_cli/services/unit/test_adapter_service.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

feat(adapters): add TargetResolver component for automatic target type detection
  .claude/skills/adapter-development/SKILL.md
  .claude/skills/adapter-development/resources/python-adapter-patterns.md
  docs/developer-guide/adapters.md
  src/aidb/adapters/base/adapter.py
  src/aidb/adapters/base/target_resolver.py
  src/aidb/adapters/lang/java/java.py
  src/aidb/adapters/lang/java/target_resolver.py
  src/aidb/adapters/lang/javascript/javascript.py
  src/aidb/adapters/lang/javascript/target_resolver.py
  src/aidb/adapters/lang/python/python.py
  src/aidb/adapters/lang/python/target_resolver.py
  src/aidb_mcp/handlers/session/validation.py
  src/tests/aidb/adapters/unit/test_python_adapter.py
  src/tests/aidb/adapters/unit/test_target_resolver.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

Update Claude resources to enforce preferred testing patterns
  .claude/skills/testing-strategy/SKILL.md
  CLAUDE.md
Due: validate-skill-references

feat(adapters): add AdapterCapabilities dataclass with per-language definitions
  src/aidb/adapters/base/config.py
  src/aidb/adapters/lang/java/config.py
  src/aidb/adapters/lang/java/java.py
  src/aidb/adapters/lang/javascript/config.py
  src/aidb/adapters/lang/javascript/javascript.py
  src/aidb/adapters/lang/python/config.py
Due: docformatter, validate-skill-references, bandit, vulture, deptry

feat(dap): add output buffer for logpoints and enhanced breakpoint responses
  src/aidb/api/introspection/__init__.py
  src/aidb/dap/client/events.py
  src/aidb/dap/client/state.py
  src/aidb/models/responses/breakpoints.py
  src/aidb/session/ops/orchestration/breakpoints.py
Due: docformatter, validate-skill-references, bandit, vulture, deptry

feat(discovery): add capability discovery functions for adapters
  src/aidb_common/discovery/adapters.py
Due: docformatter, validate-skill-references, bandit, vulture, deptry

feat(mcp): add unified breakpoint handler and init capability prefetch
  src/aidb_mcp/core/constants.py
  src/aidb_mcp/handlers/execution/control.py
  src/aidb_mcp/handlers/inspection/breakpoints.py
  src/aidb_mcp/handlers/inspection/variables.py
  src/aidb_mcp/handlers/session/initialization.py
  src/aidb_mcp/responses/base.py
  src/aidb_mcp/responses/execution.py
  src/aidb_mcp/server/app.py
  src/aidb_mcp/tools/definitions.py
Due: docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

docs: document output collection and logpoint retrieval
  docs/user-guide/mcp/tools/execution-control.md
  docs/user-guide/mcp/tools/inspection.md
Due: none

test: add comprehensive tests for breakpoint handlers and adapter discovery
  src/tests/_helpers/debug_interface/api_interface.py
  src/tests/_helpers/debug_interface/base.py
  src/tests/_helpers/debug_interface/mcp_interface.py
  src/tests/aidb_cli/managers/unit/test_test_orchestrator.py
  src/tests/aidb_common/discovery/unit/conftest.py
  src/tests/aidb_common/discovery/unit/test_adapters.py
  src/tests/aidb_mcp/handlers/unit/test_breakpoint_handlers.py
  src/tests/aidb_shared/integration/test_advanced_breakpoints.py
  src/tests/aidb_shared/integration/test_basic_debugging.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

ci: enable coverage reporting in release PRs
  .github/actions/run-aidb-tests/action.yaml
  .github/workflows/release-pr.yaml
Due: none

refactor(dap): consolidate protocol generators and add version tracking
  .pre-commit-config.yaml
  src/aidb/dap/_util/_gen_multi_file_protocol.py
  src/aidb/dap/_util/_gen_protocol.py
  src/aidb/dap/_util/_generator_core.py
  src/aidb/dap/_util/_spec.json
  src/aidb/dap/protocol/__init__.py
  src/aidb/dap/protocol/base.py
  src/aidb/dap/protocol/bodies.py
  src/aidb/dap/protocol/events.py
  src/aidb/dap/protocol/requests.py
  src/aidb/dap/protocol/responses.py
  src/aidb/dap/protocol/types.py
  src/aidb/dap/serialization.py
  src/tests/aidb_cli/commands/unit/test_dev.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

feat(adapters): add SourcePathResolver component for language-specific source path resolution
  .claude/skills/adapter-development/SKILL.md
  docs/developer-guide/adapters.md
  docs/developer-guide/overview.md
  docs/user-guide/mcp/tools/session-management.md
  src/aidb/adapters/base/__init__.py
  src/aidb/adapters/base/adapter.py
  src/aidb/adapters/base/source_path_resolver.py
  src/aidb/adapters/lang/java/java.py
  src/aidb/adapters/lang/java/source_path_resolver.py
  src/aidb/adapters/lang/javascript/javascript.py
  src/aidb/adapters/lang/javascript/source_path_resolver.py
  src/aidb/adapters/lang/python/python.py
  src/aidb/adapters/lang/python/source_path_resolver.py
  src/aidb/common/code_context.py
  src/aidb_mcp/core/constants.py
  src/aidb_mcp/core/context_utils.py
  src/aidb_mcp/handlers/session/lifecycle.py
  src/aidb_mcp/session/context.py
  src/aidb_mcp/tools/definitions.py
  src/tests/aidb/common/__init__.py
  src/tests/aidb/common/unit/__init__.py
  src/tests/aidb/common/unit/test_code_context.py
  src/tests/aidb_mcp/handlers/unit/test_session_handlers.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

refactor: complete codebase audit - consolidate constants, helpers, and response building
  src/aidb/adapters/lang/java/tooling/classpath_builder.py
  src/aidb/api/base.py
  src/aidb/api/constants.py
  src/aidb/api/introspection/__init__.py
  src/aidb/api/introspection/variables.py
  src/aidb/api/orchestration/breakpoints.py
  src/aidb/api/orchestration/stepping.py
  src/aidb/api/session_builder.py
  src/aidb/session/connector.py
  src/aidb/session/session_core.py
  src/aidb_mcp/core/context_utils.py
  src/aidb_mcp/handlers/execution/control.py
  src/aidb_mcp/handlers/execution/run_until.py
  src/aidb_mcp/handlers/execution/stepping.py
  src/aidb_mcp/handlers/inspection/breakpoints.py
Due: docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

chore: remove dead code and unused imports
  src/aidb/adapters/lang/java/java.py
  src/aidb/audit/logger.py
  src/aidb/session/ops/orchestration/execution.py
  src/aidb_common/path.py
  src/aidb_mcp/core/serialization.py
  src/aidb_mcp/handlers/session/management.py
Due: docformatter, validate-mcp, validate-skill-references, bandit, vulture, deptry

ci: enable parallel testing, optimize coverage, align test CLI flags
  .claude/skills/dev-cli-development/resources/click-framework-patterns.md
  .claude/skills/testing-strategy/SKILL.md
  .github/actions/run-aidb-tests/action.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/test-frameworks.yaml
  .github/workflows/test-launch.yaml
  .github/workflows/test-parallel.yaml
  .github/workflows/test-shared.yaml
  .github/workflows/test-suite.yaml
  .vscode/launch.json
  CLAUDE.md
  docs/developer-guide/cli-reference.md
  src/tests/_assets/framework_apps/java/springboot_app/.vscode/launch.json
  src/tests/_assets/framework_apps/javascript/express_app/.vscode/launch.json
  src/tests/_assets/framework_apps/python/django_app/.vscode/launch.json
  src/tests/_assets/framework_apps/python/fastapi_app/.vscode/launch.json
  src/tests/_assets/framework_apps/python/flask_app/.vscode/launch.json
Due: validate-skill-references

refactor(cli): consolidate services, remove test report, improve output icons
  src/aidb_cli/commands/adapters.py
  src/aidb_cli/commands/ci.py
  src/aidb_cli/commands/config.py
  src/aidb_cli/commands/dev.py
  src/aidb_cli/commands/docker.py
  src/aidb_cli/commands/install.py
  src/aidb_cli/commands/mcp.py
  src/aidb_cli/commands/test.py
  src/aidb_cli/core/constants.py
  src/aidb_cli/core/output/strategy.py
  src/aidb_cli/managers/test/orchestrator/test_profile_resolver.py
  src/aidb_cli/managers/test/test_manager.py
  src/aidb_cli/managers/test/test_orchestrator.py
  src/aidb_cli/services/command_executor/__init__.py
  src/aidb_cli/services/command_executor/environment_service.py
  src/aidb_cli/services/command_executor/execution_service.py
  src/aidb_cli/services/command_executor/stream_handler.py
  src/aidb_cli/services/command_executor/stream_handler_service.py
  src/aidb_cli/services/command_executor/tty_detection_service.py
  src/aidb_cli/services/test/test_coverage_service.py
  src/tests/aidb_cli/commands/integration/test_test_runner.py
  src/tests/aidb_cli/commands/unit/test_adapters.py
  src/tests/aidb_cli/commands/unit/test_test.py
  src/tests/aidb_cli/managers/unit/test_profile_resolver.py
  src/tests/aidb_cli/services/unit/test_command_executor.py
  src/tests/aidb_cli/services/unit/test_environment_service.py
  src/tests/aidb_cli/services/unit/test_execution_service.py
  src/tests/aidb_cli/services/unit/test_execution_service_command_executor.py
  src/tests/aidb_cli/services/unit/test_stream_handler_service.py
  src/tests/aidb_cli/services/unit/test_test_coverage_service.py
  src/tests/aidb_cli/services/unit/test_tty_detection_service.py
  src/tests/aidb_cli/unit/managers/test_test_orchestrator.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

fix: resolve parallel test race conditions, lock contention, and port allocation
  src/aidb/dap/client/client.py
  src/aidb/dap/client/connection_manager.py
  src/aidb/dap/client/constants.py
  src/aidb/dap/client/events.py
  src/aidb/dap/client/message_router.py
  src/aidb/dap/client/public_events.py
  src/aidb/dap/client/receiver.py
  src/aidb/dap/client/request_handler.py
  src/aidb/dap/client/retry.py
  src/aidb/dap/client/transport.py
  src/aidb/resources/ports.py
  src/aidb/session/event_bridge.py
  src/aidb/session/resource.py
  src/aidb/session/session_breakpoints.py
  src/aidb/session/session_lifecycle.py
  src/aidb_common/network/__init__.py
  src/aidb_common/network/allocator.py
  src/aidb_common/network/ports.py
  src/aidb_mcp/core/decorator_helpers.py
  src/aidb_mcp/core/decorator_primitives.py
  src/aidb_mcp/core/decorators.py
  src/aidb_mcp/server/app.py
  src/aidb_mcp/session/manager_lifecycle.py
  src/tests/_conftest/cleanup.py
  src/tests/_conftest/markers.py
  src/tests/_helpers/constants/ports.py
  src/tests/_helpers/debug_interface/api_interface.py
  src/tests/_helpers/debug_interface/mcp_interface.py
  src/tests/aidb/session/unit/test_session_breakpoints.py
  src/tests/frameworks/conftest.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

feat(cli): add version consistency validation for Docker files
  pyproject.toml
  src/aidb_cli/commands/versions.py
  src/aidb_cli/services/version/__init__.py
  src/aidb_cli/services/version/version_consistency_service.py
  src/tests/_docker/dockerfiles/Dockerfile.test.java
  src/tests/aidb_cli/commands/unit/test_versions.py
  src/tests/aidb_cli/services/unit/test_version_consistency_service.py
Due: gen-docs-requirements, docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

refactor: consolidate architecture patterns and fix layer violations
  .claude/skills/code-reuse-enforcement/resources/discovery-catalog.md
  src/aidb/adapters/base/syntax_validator.py
  src/aidb/adapters/base/target_classifier.py
  src/aidb/session/ops/orchestration/execution.py
  src/aidb/session/session_breakpoints.py
  src/aidb/session/session_core.py
  src/aidb_common/discovery/adapters.py
  src/aidb_common/path.py
  src/aidb_mcp/core/context_utils.py
  src/aidb_mcp/handlers/adapter_download.py
  src/aidb_mcp/handlers/dispatch.py
  src/aidb_mcp/handlers/inspection/breakpoints.py
  src/aidb_mcp/handlers/inspection/inspect_advanced.py
  src/aidb_mcp/handlers/inspection/variables.py
  src/aidb_mcp/handlers/registry.py
  src/aidb_mcp/handlers/session/__init__.py
  src/aidb_mcp/handlers/session/configuration.py
  src/aidb_mcp/handlers/session/initialization.py
  src/aidb_mcp/handlers/session/management.py
  src/aidb_mcp/handlers/session/session_setup.py
  src/aidb_mcp/handlers/session/state_management.py
  src/aidb_mcp/handlers/session/validation.py
  src/aidb_mcp/integrations/event_bridge.py
  src/aidb_mcp/responses/helpers.py
  src/aidb_mcp/session/context.py
  src/aidb_mcp/session/manager_shared.py
  src/aidb_mcp/session/manager_state.py
  src/aidb_mcp/starters/base.py
  src/aidb_mcp/starters/framework_registry.py
  src/aidb_mcp/starters/java.py
  src/aidb_mcp/starters/javascript.py
  src/aidb_mcp/starters/python.py
  src/aidb_mcp/starters/registry.py
  src/aidb_mcp/starters/utils.py
  src/aidb_mcp/utils/__init__.py
  src/tests/aidb_common/discovery/unit/test_adapters.py
  src/tests/aidb_common/unit/test_path.py
Due: docformatter, validate-pytest-collection, validate-mcp, validate-skill-references, bandit, vulture, deptry

fix: improve parallel test execution stability
  .github/actions/run-aidb-tests/action.yaml
  .github/workflows/test-frameworks.yaml
  .github/workflows/test-launch.yaml
  .github/workflows/test-parallel.yaml
  .github/workflows/test-shared.yaml
  .github/workflows/test-suite.yaml
  src/aidb/adapters/base/components/process_manager.py
  src/aidb/dap/client/transport.py
  src/aidb_common/io/__init__.py
  src/aidb_common/io/subprocess.py
  src/aidb_common/network/allocator.py
  src/aidb_common/network/ports.py
Due: docformatter, validate-skill-references, bandit, vulture, deptry

refactor: standardize logger instantiation via aidb_logging
  src/aidb/audit/logger.py
  src/aidb/audit/middleware.py
  src/aidb/resources/orphan_cleanup.py
  src/aidb_cli/services/test/test_coordinator_service.py
  src/aidb_common/config/runtime.py
  src/aidb_common/config/versions.py
  src/aidb_common/env/reader.py
  src/tests/_conftest/markers.py
  src/tests/_fixtures/base.py
  src/tests/_fixtures/docker_simple.py
  src/tests/_fixtures/java_precompilation.py
  src/tests/_helpers/cleanup_registry.py
  src/tests/_helpers/ports.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

chore: fix and clean up test files
  src/tests/aidb_cli/commands/unit/test_install.py
  src/tests/aidb_cli/managers/unit/test_test_manager.py
  src/tests/aidb_cli/services/unit/test_execution_service.py
  src/tests/aidb_cli/services/unit/test_test_coordinator.py
  src/tests/aidb_shared/e2e/test_performance.py
  src/tests/frameworks/conftest.py
  src/tests/frameworks/java/junit/e2e/test_junit_debugging.py
  src/tests/frameworks/java/springboot/e2e/test_springboot_debugging.py
  src/tests/frameworks/javascript/express/e2e/test_express_debugging.py
  src/tests/frameworks/javascript/jest/e2e/test_jest_debugging.py
  src/tests/frameworks/python/django/e2e/test_django_debugging.py
  src/tests/frameworks/python/fastapi/e2e/test_fastapi_debugging.py
  src/tests/frameworks/python/flask/e2e/test_flask_debugging.py
  src/tests/frameworks/python/pytest/e2e/test_pytest_debugging.py
Due: docformatter, validate-pytest-collection, validate-skill-references, bandit, vulture, deptry

Remove main from docs version switcher
  docs/_static/switcher.json
Due: none

Path conditions:
  gen-docs-requirements: any of: ^pyproject\.toml$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  sync-release-notes-index: any of: ^docs/release-notes/.*\.md$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  docformatter: any of: \.py$ and not (^docs/conf.py|^scripts/pre-commit/|^venv/) and not ((?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)
)
  typescript-check: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  eslint-hooks: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  prettier-hooks: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  typescript-tests: any of: ^\.claude/hooks/.*\.ts$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-pytest-collection: any of: ^src/tests/.*\.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-mcp: any of: ^src/aidb_mcp/.*\.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-skill-references: any of: ^(\.claude/skills/.*\.md|docs/developer-guide/.*\.md|src/.*)$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  validate-skill-rules-schema: any of: ^\.claude/skills/skill-rules\.json$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  bandit: any of: \.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

  vulture: any of: \.py$ and not (^src/aidb/dap/_util/|^src/aidb/dap/protocol/) and not ((?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)
)
  deptry: any of: \.py$, but not: (?x)^(
  \.cache/|
  dist/|
  src/tests/_assets/test_programs/generated/|
  src/tests/_assets/framework_apps/|
  src/tests/_assets/|
  src/aidb/dap/_util/|
  src/aidb/dap/protocol/|
  \.github/scripts/
)

